div.dex-builder-filters-container {
	margin-bottom: 20px;
}

div.dex-builder-filters-container div.dex-buidler.title {
	display: block;
	width: 100%;
}

div.dex-builder-filters-container div.dex-builder-filters {
	display: flex;
	align-items: center;
	padding-top: 5px;
}

div.dex-builder-filters-container div.dex-builder-buttons {
	display: flex;
	margin-left: auto;
}

div.dex-builder-filters-container div.dex-dropdown:last-child {
	margin-left: 10px;
}

div.dex-builder-buttons div.dex-builder-button {
	width: 35px;
	height: 35px;
	margin-left: 15px;
	cursor: pointer;
}

div.dex-builder-buttons div.dex-builder-button:first-child {
	margin-left: 0;
}

div.dex-builder-buttons div.dex-builder-button img {
	max-width: 100%;
	transition: opacity 0.15s ease-in-out;
}

div.dex-builder-buttons div.dex-builder-button img:hover {
	opacity: 0.5;
}

/* Card columns */
div.dex-builder-columns {
	display: flex;
    position: sticky;
    top: 15px;
    align-self: flex-start;
    min-height: calc(100vh - 30px);
}

div.dex-card-column {
	max-width: 400px;
	width: 400px;
	margin-right: 50px;
	position: relative;
	padding: 15px;
}

div.dex-droppable-card {
	height: 100%;
}

div.dex-droppable-card div.dex-drop-here {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

div.dex-droppable-card div.dex-drop-here img {
	display: block;
	margin: 0 auto;
	margin-top: 50%;
	max-width: 200px;
}

div.dex-droppable-card div.dex-drop-here.active {
	display: block;
}

div.dex-droppable-card:last-child {
	padding-right: 0;
}

div.dex-builder-columns input {
	width: 100%;
}

div.dex-card-column div.dex-card-column-title {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}

div.dex-card-column div.dex-card-column-title span.title {
	color: #999;
}

div.dex-card-column div.dex-card-column-title span.card-count {
	color: #999;
	display: block;
	margin-left: auto;
}

div.dex-builder-content {
	display: flex;
}

div.dex-left-filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

div.dex-dropdown-filters {
	display: flex;
}

div.dex-mana-filter, div.dex-dropdown-filters, div.dex-builder-buttons {
	margin-bottom: 10px;
}

div.dex-scryfall-query {
	margin-bottom: 10px;
}

div.dex-column {
	max-height: calc(100vh - 270px);
	overflow: scroll;
}

@media only screen and (max-width: 900px) {
	div.dex-builder-filters-container {
		margin-bottom: 0;
	}

	div.dex-builder-filters-container div.dex-builder-filters {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}

	div.dex-builder-filters-container div.dex-builder-buttons {
		margin-left: 0;
	}

	div.dex-left-filters {
		display: none;
	}

	div.dex-scryfall-query {
		display: none;
	}

	div.dex-builder-columns {
		width: 100%;
	}

	div.dex-builder-columns div.dex-card-column {
		width: 100%;
		margin-right: 0;
	}

	div.dex-builder-buttons div.dex-builder-button.full-screen {
		display: none;
	}
}
