div.dex-card-search {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

div.dex-card-image {
	width: 230px;
	padding-right: 20px;
	padding-bottom: 15px;
	cursor: pointer;
}

div.dex-card-image img {
	border-radius: 11px;
	max-width: 100%;
	transition: opacity 0.1s ease-in-out;
}

div.dex-card-image img:hover {
	opacity: 0.4;
}

div.dex-card-loader {
	height: 325px;
}
